[Unit]
Description=Gunicorn instance to serve WebPortal
After=network.target

[Service]
Type=exec
User=root
Group=root
WorkingDirectory=/opt/webportal-flask
Environment=PATH=/opt/webportal-flask/venv/bin
EnvironmentFile=/opt/webportal-flask/.env
ExecStart=/opt/webportal-flask/venv/bin/gunicorn --config /opt/webportal-flask/gunicorn.conf.py wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-failure
RestartSec=5
KillMode=mixed
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target